# Dependencias
node_modules/

# Builds
dist/
dist-electron/
out/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Secrets
*.env
.env.*
electron/secrets.json